spring:
  application:
    name: Troublog
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  ai:
    openai:
      api-key: ${OPEN_AI_API_KEY}
      chat:
        options:
          model: ${OPENAI_MODEL}
    anthropic:
      api-key: ${ANTHROPIC_API_KEY}
      chat:
        options:
          model: ${ANTHROPIC_MODEL}
    google:
      genai:
        api-key: ${GEMINI_API_KEY}
        chat:
          options:
            model: ${GEMINI_MODEL}
  mvc:
    log-resolved-exception: false
  cloud:
    aws:
      credentials:
        access-key: ${S3_ACCESS_KEY}
        secret-key: ${S3_SECRET_KEY}
      s3:
        region: ap-northeast-2
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            client-secret: ${KAKAO_CLIENT_SECRET}
            scope: profile_nickname, profile_image, account_email
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  threads:
    virtual:
      enabled: true

ai:
  provider:
    default: ${DEFAULT_AI_MODEL}
  prompts:
    system: ${AI_PROMPT_SYSTEM:classpath:prompts/system.st}
    resume: ${AI_PROMPT_RESUME:classpath:prompts/resume.st}
    interview: ${AI_PROMPT_INTERVIEW:classpath:prompts/interview.st}
    memoirs: ${AI_PROMPT_MEMOIRS:classpath:prompts/memoirs.st}
    issue-management: ${AI_PROMPT_ISSUE_MANAGEMENT:classpath:prompts/issue-management.st}

springdoc:
  swagger-ui:
    display-request-duration: true
    operations-sorter: alpha

jwt:
  secret: ${JWT_SECRET_KEY}
  access-token-validity-in-seconds: 1800
  refresh-token-validity-in-seconds: 86400

cloud:
  aws:
    s3:
      bucket: ${BUCKET_ADDRESS}
server:
  forward-headers-strategy: framework
