<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- dev 환경 설정 -->
    <springProfile name="dev">
        <include resource="logback-dev.xml"/>
    </springProfile>

    <!-- prod 환경 설정 -->
    <springProfile name="prod">
        <include resource="logback-prod.xml"/>
    </springProfile>

    <!-- local 환경 설정 -->
    <springProfile name="!dev &amp; !prod">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>

        <logger name="troublog.backend" level="DEBUG"/>
        <logger name="org.springframework.web" level="DEBUG"/>
        <logger name="org.hibernate" level="DEBUG"/>
    </springProfile>
</configuration>